%div.input-group
  = form_tag action: 'create' do
    = text_field :search, :text, placeholder: "Search Titles", class: 'form-control'
    %span.input-group-btn
      = submit_tag "Search", class: 'btn btn-default'
