<%= form_tag :action => 'create' do %>
    <p>
      <label for = "search_text">Movie title</label>:
      <%= text_field :search, :text %>

      <%= submit_tag 'Go to vod browser' %>
    </p>
<% end %>