%nav.navbar.navbar-default.navbar-fixed-top
  .container
    %ul.nav.nav-pills
      %li.active{role: 'presentation'}= link_to('Home', root_path)
      %li.active{role: 'presentation'}= link_to('Movies', movies_path)
      %li.active{role: 'presentation'}= link_to('Cineman movies', cineman_movies_path)
